@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  overscroll-behavior-y: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fbcfe8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f472b6;
}